@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .body {
    background-color: #f7f8fa;
  }
  .bg-primary {
    background-color: #1fa45b;
  }
  .bg-secondary {
    background: #e8f0f5;
  }
  .outline-primary {
    outline: #1fa45b;
  }
  .border-primary {
    outline: #1fa45b;
  }
  .btn-secondary {
    background-color: #f3f4f6;
  }
  .color-primary {
    color: #393939;
  }
  .color-active {
    color: #1fa45b;
  }
  .icon-primary {
    color: #868686;
  }
  .font-primary {
    color: #393939;
    size: 16px;
    line-height: 24px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .sidebar {
    @apply flex h-[93vh] overflow-y-auto overflow-x-hidden p-4 justify-between items-center max-w-24 bg-white shadow-xl rounded-xl flex-col;
  }
  /* Scrollbar */
  /* width */
  .sidebar::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: #1fa45b;
    border-radius: 10px;
  }

  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #1fa45bb0;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 300ms;
  }

  /* categories scrollbar */
  /* width */
  .categories::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .categories::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .categories::-webkit-scrollbar-thumb {
    background: #1fa45b;
    border-radius: 10px;
  }

  /* Handle on hover */
  .categories::-webkit-scrollbar-thumb:hover {
    background: #1fa45bb0;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 300ms;
  }
}
